APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=neuoj
DB_USERNAME=neuoj
DB_PASSWORD=neuoj

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=smtp.163.com
MAIL_PORT=25
MAIL_USERNAME=neu_oj@163.com
MAIL_PASSWORD=voidsx
MAIL_ENCRYPTION=tls

ABSPATH=localhost:8000/

RECAPTCHA_PUBLIC_KEY=key
RECAPTCHA_PRIVATE_KEY=key

#Custom Defined Magic Number

CONTEST_PENDING=0
CONTEST_RUNNING=1
CONTEST_ENDED=-1
CONTEST_IN_REGISTER=2
CONTEST_NOT_IN_REGISTER=3

BALLOON_SEND=1
BALLOON_DISCARD=2

CAS_HOST=202.118.93.101
CAS_PORT=443
CAS_URI=/cas

#SIM similarity tester configuration
# All Dirs are relative to public/ folder

SIMDIR=../sim # Do not add slashes at the end!
SUBMISSIONSDIR=../storage/app/submissions                    # Do not add slashes at the end!
