/*导航栏式样*/
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
#signin{
    position: absolute;
    top:10px;
    right: 140px;
    width: 70px;
}
#dashboard{
    position: absolute;
    display: block;
    top:6px;
    right: 140px;
    width: 200px;
    padding-top: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    text-overflow: ellipsis;
    overflow:hidden;
}
#dashboard:hover{
    color: #333;
}
#logout,#signup{
    position: absolute;
    top:10px;
    right: 60px;
    width: 70px;
}
.neuoj_theme{
    font-size: 40px;
    width: 250px;
}
.neuacmlogo{
    width: 40px;
    margin-top: -10px;
    float: left;
    margin-right: 10px;
}
/*题目列表式样*/
#problemlist > thead > tr > th,
#problemlist > tbody > tr > th,
#problemlist > tfoot > tr > th,
#problemlist > thead > tr > td,
#problemlist > tbody > tr > td,
#problemlist > tfoot > tr > td {
    padding: 5px;
}
#problemlist > thead > tr > th{
    color: #fff;
}
#problemlist>thead{
    background: #95A5A6;
}
/**题目内容页**/
#promblem_submit_textarea.form-control{
    height: 400px;
    width: 100%;
}
/*登陆注册表*/
#signinTable{
    width: 600px;
}
#signinTable td,#signupTable td{
    height: 50px;
}
#signupTable{
    width: 400px;
}
.third_logo1{
    width: 40px;
    margin-top: -15px;
}
.third_logo2{
    width: 40px;
    margin-top: -18px;
}
/*body整个屏幕*/
html{
    height: 100%;
}
body{
    min-height: 100%;
    position: relative;
}
.main{
    margin:20px auto;
    width: 800px;
}
/*页脚*/
.footer{
    background: #336699;
    width: 100%;
    line-height: 10px;
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    overflow: hidden;
}
.footer span{
    color: #fff;
}
.footspanclass{
    height: 20px;
    line-height: 20px;
    font-size: 13px;
}
/*常用全局标签*/
.my_p{
    width: 800px;
    word-break: break-all;
    text-indent: 2em;
    font-size: 20px;
    line-height: 30px;
}
/**status**/
.status_main{
    margin:20px auto;
    width: 1000px;
}
#statuslist > thead > tr > th,
#statuslist > tbody > tr > th,
#statuslist > tfoot > tr > th,
#statuslist > thead > tr > td,
#statuslist > tbody > tr > td,
#statuslist > tfoot > tr > td {
    padding: 5px;
}
#statuslist > thead > tr > th,#statuslist > thead > tr > td{
    color: #fff;
}
#statuslist>thead{
    background:#95A5A6;
}
/**代码页**/