/*全局样式*/
*{
    font-family: Roboto;
}
html {
    height: 100%;
}
body {
    min-width: 980px;
    min-height: 100%;
    position: relative;
}
img {
    object-fit: cover;
}
a:focus, a:hover, a:active, a:visited {
    text-decoration: none;
    outline: none;
}
.label {
    font-size: 13px;
}
.btn, .form-control {
    border-radius: 0;
}
.text-center{
    font-family: Roboto;
}
@font-face{
    font-family: Roboto;
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face{
    font-family: Roboto;
    src: url('/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}
/*常用全局标签*/
.custom-heading {
    text-align: center;
    margin-bottom: 30px;
}
.custom-table {
    margin: 0px auto;
}
.custom-table td {
    padding: 10px;
}
.custom-word {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.custom-list {
    text-align: center;
    table-layout: fixed;
    margin: 0 auto;
}
.custom-list td,
.custom-list th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px !important;
    vertical-align: middle !important;
}
.custom-list th {
    color: #fff;
}
.custom-list thead {
    background: #95A5A6;
}
.file-input {
    vertical-align: middle;
    height: 38px;
    display: inline-block;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border: 1px solid #ccc;
    position: relative;
    padding-right: 5px;
}
.file-input input[type=text] {
    border: 0;
    vertical-align: middle;
}
.file-input input[type=file] {
    opacity: 0;
    position: absolute;
    top:0;
    left:0;
}
.search-container {
    display: inline-block;
    position: relative;
}
.search-option {
    position: absolute;
    margin-top: 10px;
    border:1px solid #D4D4D5;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.08);
    z-index: 1000;
    max-height: 240px;
    width: 240px;
    overflow-x: hidden;
}
.search-result {
    white-space: nowrap;
    display: block;
    padding: 8px;
    font-size: 15px;
    border-bottom: 1px solid rgba(34,36,38,.1);
    cursor: pointer;
    height: 40px;
    text-decoration: none;
}
.search-result:hover {
    background-color: #F5F5F5;
}
.btn-grey {
  color: #333;
  background-color: #eee;
  border-color: #bbb;
  padding: 8px;
}

.btn-grey:hover,
.btn-grey:active {
  background-color: #d5d5d5;
  border-color: #9c9c9c;
}
/*front常用全局标签*/
.front-container {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 60px;
}
.front-big-container {
    width: 980px;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 70px;
}
.front-table-row:hover {
    background-color: #577492!important;
    color: #fff;
}
.front-table-row td {
  height: 45px;
  position: relative;
}
.front-table-row a {
    color: inherit;
    display: inline-block;
    width: 100%;
    line-height: 43px;
}
.front-time-box {
    margin-bottom: 10px;
}
.front-table-row paper-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
}
.front-table-row paper-button:hover{
    background-color: #445b72;
}
.front-green-thead {
    background: #5cb85c !important;
}
/*dashboard常用全局标签*/
.back-container {
    margin-left: 16%;
}
.back-list {
    width: 90%;
    margin: 0 auto;
}
.back-btn-form {
    display: inline-block;
}
.back-problem-form {
    margin-bottom: 200px;
}
.back-problem-form td:first-child {
    width: 180px;
}
.back-problem-add-list {
    margin-top: 20px;
    margin-left: 26%;
}
.back-problem-add-list>div {
    margin-bottom: 5px;
}
.back-problem-add-list span {
    margin-right: 3px;
}
.back-problem-add-list input {
    margin-right: 8px;
    display: inline-block !important;
    vertical-align: middle;
}
/*dashboard-folder*/
/*dashboard-profile*/
#dashboard-profile-img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}
/*contest-folder*/
/*context-back*/
.contest-b-problem-input {
    width: 110px;
}
.contest-b-private-table {
    margin-left: 2%;
}
/*context-index*/
.context-index-label {
    font-size: 18px;
}
#contest-index-green-gly {
     color: #5cb85c;
}
/*contest-ranklist*/
#contest-ranklist-table-responsive {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
#contest-ranklist-table-responsive table{
     width: auto;
     border: none;
}
#contest-ranklist-table-responsive td:first-child{
     border-left: none;
}
#contest-ranklist-table-responsive td:last-child{
     border-right: none;
}
#contest-ranklist-rank {
    min-width: 45px;
    width: 4%;
}
#contest-ranklist-id {
    min-width: 55px;
    width: 4%;
}
#contest-ranklist-name {
    min-width: 80px;
    width: 7%;
}
#contest-ranklist-solve {
    min-width: 50px;
    width: 4%;
}
#contest-ranklist-penalty {
    min-width: 85px;
    width: 8%;
}
.contest-ranklist-problem {
    min-width: 92px;
    width: 6%;
}
.contest-ranklist-img {
    width: 40px;
    height: 40px;
}
.contest-ranklist-btn div {
    width: 100%;
    padding: 5px 0px;
}
/*problem-folder*/
/*problem-back*/
.problem-b-error-box {
    background-color: #f39c12;
    font-size: 18px;
    opacity: 0.8;
}
.problem-b-warning-box {
    background: #95A5A6;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.problem-b-submit {
    margin-top: 10px;
    padding-bottom: 20px;
}
/*problem-manage*/
.problem-manage-lock-btn {
    width: 80%;
    padding: 8px 0px;
}
/*problem-list*/
#problem-list-search-form span{
    font-size: 18px;
}
#problem-list-search-form .search-title {
    vertical-align: middle;
    display: inline-block;
}
/*problem-index*/
#problem-index-panel {
    padding: 0 10px;
}
#problem-index-panel p {
    white-space: pre-wrap;
}
.problem-index-panel-body:before {
    display: none;
}
.problem-index-panel-body:after {
    display: none;
}
.problem-index-panel-body {
    white-space: pre-wrap;
    line-height: 30px;
}
#problem-index-modal-header {
    background: #286090;
    color: #fff;
}
#problem-index-modal-header span{
    color: #fff;
}
#problem-index-modal-select {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px
}
#problem-index-modal-footer {
    margin: 20px 0px;
}
#problem-index-modal-footer input {
    margin-left: 10px;
}
/*training folder*/
/*training-back*/
.training-b-add-chapter {
    margin-top: 20px;
}
.training-b-add-chapter a:first-child {
    margin-right: 20px;
}
.training-b-problem-input {
    width: 150px;
}
/*training-front*/
.training-front-header {
    background: #E3E3E3;
    height: 160px;
}
.training-front-header img {
    width: 160px;
    height: 160px;
    vertical-align: top;
}
.training-front-header>div {
    display: inline-block;
    width: 615px;
    height: 160px;
    padding: 0px 20px;
    overflow-y: auto;
}
.training-front-list {
    padding:10px 20px;
    border: 1px #ddd solid;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
/*training-index*/
.training-index-star {
    color: #EFFF6E;
}
.training-index-problem:hover {
    background-color: #F5F5F5;
}
/*discuss folder*/
.discuss-front-panel-heading {
    background-color: #00b8d4 !important;
    border-radius: 0px;
}
.discuss-front-panel-heading a {
    color: #ecf0f5;
}
.discuss-front-panel-heading a:hover {
    color: blue;
}
.glyphicon-fire {
    color: red;
}
.discuss-front-blue-word {
    color: #3f51b5;
}
.discuss-front-green-word {
    color: green;
}
.discuss-front-li:hover {
    cursor: pointer;
    background-color: #d2d6de;
}
.discuss-front-li:after{
    content: "";
    display: block;
    clear: both;
}
.discuss-front-li img {
    width: 50px;
    height: 50px;
}
.discuss-front-information {
    width: 16%;
    float: left;
    text-align: center;
}
.discuss-front-information form {
    margin-top: 15px;
    width: 100%;
}
.discuss-front-content {
    width: 84%;
    padding-left: 2%;
    float: left;
}
.discuss-front-content p {
    min-height: 60px;
    white-space: pre-wrap;
    word-break:break-all;
}
.discuss-front-content span {
    font-size: 12px;
}
/*discuss-index*/
#discuss-index-footer:after {
    content: "";
    display: block;
    clear: both;
}
/*status folder*/
/*status-list*/
.status-list-form {
    margin-bottom: 5px;
}
.status-list-form input[type='text'] {
    width: 150px;
}
.status-list-form .form-control {
    display: inline-block;
    width: auto;
    margin-right: 13px;
}
.status-list-btn {
    padding: 5px 0px;
    width: 90%;
}
/*layout-folder*/
/*layout-header*/
.navbar {
    border-radius: 0;
    border: 0;
    height: 50px;
    background-color: #3f51b5;
}
#navbar-logo {
    padding: 5px;
}
#navbar-logo img {
    width: 40px;
    border-radius: 20px;
    margin-left: 15px;
    display: inline;
    transition: box-shadow 0.3s;
    transition-timing-function: ease-in-out;
}
#navbar-logo span {
    font-size: 40px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    transition: text-shadow 0.3s;
    transition-timing-function: ease-in-out;
}
#navbar-logo:hover img {
    box-shadow: 0 0 10px #FFF;
}
#navbar-logo:hover span {
    text-shadow: 0 0 10px #fff;
}
@media  screen and (max-width: 1200px) {
    #navbar-logo img {
        margin-left: 5px;
    }
    #navbar-logo span {
        margin-right: 0;
        margin-left: 5px;
        font-size: 25px;
    }
}
#navbar-meau {
    width: 50%;
    float: left;
    height: 50px;
}
.three-d {
    float: left;
    font-size: 15px;
    width: 12.5%;
    height: 100%;
    color: #fff;
    cursor: pointer;
}
.three-d-box {
    transition:all .3s ease-out;
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
}
.three-d:hover .three-d-box {
    transform:rotateX(90deg);
}
.nav-front, .nav-back {
    position: absolute;
    width:100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
}
.nav-front {
    transform:rotateX(0deg) translateZ(25px);
    background: #3F51B5;
}
.nav-back {
    transform:rotateX(-90deg) translateZ(25px);
    background: #2E87D8;
}
.active .nav-front {
    background: #2E87D8;
}
@media  screen and (max-width: 1200px) {
    #navbar-meau {
        width: 560px;
    }
    .nav-front, .nav-back {
        font-size: 13px;
        height: 50px;
    }
    .nav-front {
        transform:rotateX(0deg) translateZ(0px);
    }
    .nav-back {
        display: none;
    }
    .three-d:hover .three-d-box {
        transform:rotateX(0deg);
    }
}
#sign-button-group {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
}
.sign-button {
    background-color: #2e87d8;
    color: #fff;
}
.sign-button:hover {
    background-color: #3f98e9;
}
#personal-button {
    float: right;
    margin-top: 8px;
    margin-right: 20px;
}
#personal-button img {
    width: 120px;
    height: 120px;
}
/*layout-footer*/
.footer {
    background: #3f51b5;
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: #fff;
    font-size: 14px;
}
/*layout-dashboard_nav*/
#dashboard-nav {
    position: fixed;
    top: 0;
    left: 0;
    background:#333C47;
    height: 100%;
    width: 16%;
    min-width: 156px;
    color: #C5D0DE;
}
#dashboard-nav a {
    color: #C5D0DE;
}
#dashboard-nav img {
    width: 100px;
    height: 100px;
    margin: 5px 0px;
}
#dashboard-nav hr {
    border-top: 1px solid #666;
    margin-top: 5px 0px;
}
#dashboard-subnav li:first-child{
    font-size: 20px;
}
#dashboard-subnav a:hover,
#dashboard-subnav a:focus
{
    background-color: #24272D;
}
.dashboard-subnav-active {
    background-color: #24272D;
}
.separate-item {
    border-top: 1px solid #666;
}
/*首页*/
#homepage {
    margin: 10px auto;
    width: 800px;
    padding: 10px;
    text-indent: 2em;
    font-size: 20px;
    line-height: 30px;
}
/**题目内容页**/
#promblem_submit_textarea.form-control{
    height: 400px;
    width: 100%;
}
/*登陆注册表*/
#signin-body {
    background: #d2d6de;
    padding-top: 50px;
}
#signin-box {
    margin: 0px auto;
    width: 33%;
    background: #fff;
    color: #666;
    padding: 2%;
}
.signin-box-userbox {
    position: relative;
}
.signin-box-gly {
    position: absolute;
    top:10px;
    left:10px;
}
.signin-box-user {
    display: inline-block;
    padding-left: 40px;
}
#signin-box-captcha span {
    top: 15px;
}
#signin-box-captcha input {
    width: 40%;
    margin-right: 18%;
}
#signin-box-captcha img {
    width: 40%;
}
#signin-text {
    margin-top: 50px;
}
#resetTable{
    margin-left:36%;
}
#resetForm{
    margin-top:2%;
}
.third_logo1{
    width: 40px;
    margin-top: -15px;
}
.third_logo2{
    width: 40px;
    margin-top: -18px;
}
.auth-request-table {
    margin-left: 35%;
}
/*body整个屏幕*/
.main{
    margin: 10px auto;
    width: 800px;
    padding: 10px;
}
/**status**/
.status_main{
    margin:20px auto;
    width: 1000px;
}
span[class^="hljs"]{
    font-family: "Courier New";
}
/*hackme*/
.hackme_header {
    width: 100%;
    height:300px;
    background: linear-gradient(20deg, #3f51b5, #159957);
}
.hackme_header:nth-child(1) {
    font-size: 50px;
    color: wheat;
    text-align: center;
    padding-top: 4%;
}
.hackme_header_hint {
    font-size: 20px;
    opacity: 0.5;
}
.hackme_header a {
    background: transparent;
    border: solid 1px;
    border-radius: 2px;
    font-size: 23px;
    padding: 5px;
    color: antiquewhite;
}
.hackme_header a:hover {
    background: transparent;
    color: wheat;
    padding: 6px;
    font-size: 24px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
}
.hackme_body {
    width: 70%;
    margin-left: 15%;
}
.hackme_body h1 {
    color: #001f3f;
    opacity: 0.5;
}
.hackme_body p {
    font-family: "Ubuntu Mono";
    color: #001f3f;
    opacity: 0.8;
    font-size: 17px;
    text-indent: 2em;
}
.profile-avater{
    width: 256px;
    margin-left: 150px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    float: left;
}
.profile-title{
    width: 256px;
    height: 5px;
    background-color: #2E87D8;
}
.profile-img{
    margin-top: 20px;
    margin-left: 65px;
}
.profile-table td{
    padding: 10px;
}
.profile-note{
    padding-left: 10px;
}
.profile-info{
    float: left;
}
.profile-button{
    float: right;
    margin-right: 50px;
    margin-top: 80px;
    color: #fff;
    background-color: #3cc051;
}
.boder-right{
 width: 0px; 
 border-right-width: 15px; 
 border-right-style: solid; 
 border-right-color:#3cc051; 
 display: inline-block; 
 vertical-align: middle;  
 border-top-width: 8px; 
 border-top-style: solid; 
 border-top-color: transparent; 
 border-bottom-width: 8px; 
 border-bottom-style: solid; 
 border-bottom-color: transparent; 
 box-sizing: border-box;
 margin-right: -3px;
 margin-top: -230px;
}
.boder-left{
 display: inline-block; 
 width: 90%; 
 padding: 8px; 
 border-radius: 0.5em; 
 line-height: 1.5em; 
 vertical-align: middle; 
 box-sizing: border-box; 
 background-color:white;
 border: 1px solid #3cc051;
 width: 460px;
 height: 400px;
}