/*导航栏式样*/
.navbar-default .navbar-nav > li > a {
    color: #fff!IMPORTANT;
    height: 50px;
    background-color: #3f51b5!IMPORTANT;
    padding-left: 5px;
    padding-right: 5px;
}
.navbar-default .navbar-nav > li > a > paper-button{
    position: relative;
    top: -10px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}
.navbar .container{
    margin: 0;
    padding: 0 25px;
    width: 100%;
}
.navbar{
    border-radius: 0;
    border: 0;
    height: 50px;
}
.navbar-collapse{
    padding: 0;
}
.navbar-header{
    padding-right: 20px;
}
.active{
}
.activebar{
    margin-left: 0;
    width: 100%;
    height: 5px;
}
.active .activebar{
    background-color: #da4f49;
}
a:hover .activebar{
    background-color: #5bc0de;
}
a:active .activebar{
    background-color: #5bb75b;
}
.active > a:hover .activebar{
    background-color: #da4f49;
}
.active > a:active .activebar{
    background-color: #da4f49;
}
.btn{
    padding: 6px 0;
    min-width: 70px;
}
.btn-caret{
    min-width: 10px!IMPORTANT;
}
.btn-grey {
  color: #333;
  background-color: #eee;
  border-color: #bbb;
}
.btn-grey:focus,
.btn-grey.focus {
  color: #333;
  background-color: #d5d5d5;
  border-color: #7b7b7b;
}
.btn-grey:hover {
  color: #333;
  background-color: #d5d5d5;
  border-color: #9c9c9c;
}
.btn-grey:active,
.btn-grey.active,
.open > .dropdown-toggle.btn-grey {
  color: #333;
  background-color: #d5d5d5;
  border-color: #9c9c9c;
}
.btn-grey:active:hover,
.btn-grey.active:hover,
.open > .dropdown-toggle.btn-grey:hover,
.btn-grey:active:focus,
.btn-grey.active:focus,
.open > .dropdown-toggle.btn-grey:focus,
.btn-grey:active.focus,
.btn-grey.active.focus,
.open > .dropdown-toggle.btn-grey.focus {
  color: #333;
  background-color: #c3c3c3;
  border-color: #7b7b7b;
}
.btn-grey:active,
.btn-grey.active,
.open > .dropdown-toggle.btn-grey {
  background-image: none;
}
.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled.focus,
.btn-grey[disabled].focus,
fieldset[disabled] .btn-grey.focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #eee;
  border-color: #bbb;
}
.btn-grey .badge {
  color: #fff;
  background-color: #222;
}
#signin{
    position: absolute;
    top: 5.5px;
    right: 100px;
    width: 70px;
}
#ssologin{
    position: absolute;
    top: 5.5px;
    right: 180px;
    width: 70px;
}
#signup{
    position: absolute;
    top: 5.5px;
    right: 20px;
    width: 70px;
}
#dashboard{
    position: absolute;
    top: 8px;
    right: 20px;
}
#dashboard .btn{
    min-width: 100px;
}
.neuoj_theme{
    font-size: 40px;
}
.neuacmlogo{
    width: 40px;
    margin-top: -10px;
    float: left;
    margin-right: 10px;
    border-radius: 20px;
    transition: box-shadow 0.3s;
}
.neuoj_theme:hover .neuacmlogo{
    box-shadow: 0 0 10px #FFF;
}
.neuoj_theme:active .neuacmlogo{
    transition: box-shadow 0.05s;
    box-shadow: 0 0 20px #FFF;
}
.neuacmlogotext{
    float: left;
    color: #fff;
    transition: text-shadow 0.3s;
}
.neuoj_theme:hover .neuacmlogotext{
    text-shadow: 0 0 10px #fff;
}
.neuoj_theme:active .neuacmlogotext{
    transition: text-shadow 0.05s;
    text-shadow: 0 0 20px #fff;
}
/*题目列表式样*/
#problemlist > thead > tr > th,
#problemlist > tbody > tr > th,
#problemlist > tfoot > tr > th,
#problemlist > thead > tr > td,
#problemlist > tbody > tr > td,
#problemlist > tfoot > tr > td {
    padding: 5px;
}
#problemlist > thead > tr > th{
    color: #fff;
}
#problemlist>thead{
    background: #95A5A6;
}
/**题目内容页**/
#promblem_submit_textarea.form-control{
    height: 400px;
    width: 100%;
}
/*登陆注册表*/
#signinTable{
    width: 600px;
}
#signinTable td,#signupTable td{
    height: 50px;
}
#signupTable{
    width: 400px;
}
.third_logo1{
    width: 40px;
    margin-top: -15px;
}
.third_logo2{
    width: 40px;
    margin-top: -18px;
}
/*body整个屏幕*/
html{
    height: 100%;
}
body{
    min-height: 100%;
    position: relative;
}
.main{
    margin: 10px auto;
    width: 800px;
    padding: 10px;
}
/*页脚*/
.footer{
    background: #3f51b5;
    width: 100%;
    line-height: 10px;
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    overflow: hidden;
}
.footer span{
    color: #fff;
}
.footspanclass{
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    white-space: nowrap;
}
/*常用全局标签*/
.my_p{
    width: 800px;
    word-break: break-all;
    text-indent: 2em;
    font-size: 20px;
    line-height: 30px;
}
/**status**/
.status_main{
    margin:20px auto;
    width: 1000px;
}
#statuslist > thead > tr > th,
#statuslist > tbody > tr > th,
#statuslist > tfoot > tr > th,
#statuslist > thead > tr > td,
#statuslist > tbody > tr > td,
#statuslist > tfoot > tr > td {
    padding: 5px;
}
#statuslist > thead > tr > th,#statuslist > thead > tr > td{
    color: #fff;
}
#statuslist>thead{
    background:#95A5A6;
}
/**dashboard**/
.dashboard_nav{
    position: fixed;
    background:#333C47;
    padding: 0;
    min-height: 100%;
}
.dashboard_nav>ul>li>a{
    color: #C5D0DE;
}
.dashboard_logo{
     width: 100px;
    height: 100px;
}
.dashboard_top{
    background: #333C44;
    padding: 10px;
}
.dashboard_username{
    color: #C5D0DE;
    margin-top: 10px;
    width: 100%;
    text-overflow: ellipsis;
    overflow:hidden;
}
.dashboard_hr{
    border-top: 1px solid #666;
}
li.separate-item {
    border-top: 1px solid #666;
}
.dashboard_subnav>li>a:hover,
.dashboard_subnav>li>a:focus
{
    text-decoration: none;
    background-color: #24272D;
}
.dashboard_subnav_active{
    background-color: #24272D;
}
/*contest*/
.contest_list{
    margin-top: 5px;
}
.contest_list> thead > tr > th,
.contest_list> tbody > tr > th,
.contest_list> tfoot > tr > th,
.contest_list> thead > tr > td,
.contest_list> tbody > tr > td,
.contest_list > tfoot > tr > td {
    vertical-align: middle;
    padding: 5px;
}
.contest_list> thead > tr > th{
    color: #fff;
}
.contest_list>thead{
    background: #95A5A6;
}
/*contest_single*/
.contest_list_single{
    margin-top: 5px
}
.contest_list_single> thead > tr > th,
.contest_list_single> tbody > tr > th,
.contest_list_single> tfoot > tr > th,
.contest_list_single> thead > tr > td,
.contest_list_single> tbody > tr > td,
.contest_list_single> tfoot > tr > td {
    padding: 5px;
}
.contest_list_single> thead > tr > th{
    color: #fff;
}
.contest_list_single>thead{
    background: #5cb85c;
}
.contest_single_begintime{
    display: inline-block;
    width: 400px;
    /*background: red;*/
    padding-right: 20px;
    margin-top: 5px;
}
.contest_single_endtime{
    display: inline-block;
    width: 300px;
    /*background: red;*/
    margin-left: 20px;
    margin-top: 5px;
}
.countdown{
    background: #5bc0de;
}
.contest_single_status_running{
    background: #5bc0de;
    /*display: inline-block;*/
    font-size: 24px;
}
.contest_single_status_ended{
    background: #999;
    /*display: inline-block;*/
    font-size: 24px;
}
.contest_single_nav{
    margin-top: 20px;
    margin-bottom: 20px;
}
.contest_list_status_running{
    background: #5bc0de;
}
.contest_list_status_ended{
    background: #999;
}
.contest_list_status_registering{
    background: #f0ad4e;
}
#contest_set_form{
    margin-top: 60px;
}
.contest_set_body{
    overflow-y: scroll;
}
.contest_set_time div{
    margin-bottom:10px;
}
.contest_set_lable{
    line-height: 34px;
}
.contest_set_allowedUserList div{
    margin-bottom:5px;
}
.contest_set_add_problem{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contest_set_add_problem div{
    margin-bottom:10px;
}
.contest_set_add_problem input{
    margin-right:10px;
}
#contest_add_form{
    margin-top: 60px;
}
/*ranklist*/
.contest_ranklist> thead > tr > th,
.contest_ranklist> tbody > tr > th,
.contest_ranklist> tfoot > tr > th,
.contest_ranklist> thead > tr > td,
.contest_ranklist> tbody > tr > td,
.contest_ranklist> tfoot > tr > td {
    padding: 0;
    vertical-align: middle;
}
.contest_ranklist> thead > tr > th{
    color: #fff;
}
.contest_ranklist>thead{
    background: #5cb85c;
}
.contest_ranklist img{
    object-fit: cover;
}
.contest_ranklist_table{
    margin:20px auto;
    width: 1200px;
}
.contest_ranklist_username{
    width: 200px;
}
.contest_ranklist_username_td{
    font-size:15px;
}
.contest_ranklist_penalty{
    width: 150px;
}
.contest_ranklist_penalty_td{
    font-size:15px;
}
/*profile*/
#profileForm img{
    object-fit:cover;
}
#profileTable{
    width: 350px;
}
#profileTable td,#profileTable td{
    height: 50px;
}
#profileTable_img{
    object-fit:cover;
}
.padding_10{
    padding-top: 10%;
}
/*dash_problem*/
.dashboard_problem_table{
    margin:20px auto;
    width: 900px;
}
#dashboard_problem_list > thead > tr > th,
#dashboard_problem_list > tbody > tr > th,
#dashboard_problem_list > tfoot > tr > th,
#dashboard_problem_list > thead > tr > td,
#dashboard_problem_list > tbody > tr > td,
#dashboard_problem_list > tfoot > tr > td {
    padding: 5px;
    vertical-align: middle;
}
#dashboard_problem_list > thead > tr > th{
    color: #fff;
}
#dashboard_problem_list>thead{
    background: #95A5A6;
}
.dashboard_problem_table_form{
    display: inline-block;
}
.dashboard_problem_add_table{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}
.dashboard_problem_add_span{
    font-size: 20px;
}

.word_cut{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 16px;
    font-family:"Ubuntu Mono";
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: pre-wrap;
}

.table_row{
    word-break: keep-all;
}
.table_row:hover{
    background-color: #577492!important;
    color: #fff;
}
.table_row_td{
    cursor: pointer;
}
.table_row_td:hover{
    background-color: #445b72;
    color: #fff;
    font-weight: bold;
}
.table_row_td:active{
    background-color: #31b0d5!important;
}
@font-face{
    font-family: Roboto;
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
}
@font-face{
    font-family: Roboto;
    src: url('/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}
*{
   font-family: Roboto;
}
.mdbtn-white{
    background-color: #2e87d8;
    color: #fff;
}
.mdbtn-white:hover{
    background-color: #3f98e9;
}
