/*problem.list*/
.problem_table{
    margin-top:5px;
    table-layout: fixed;
    overflow: hidden;
}

#problem_id{
    width:10%;
}
#problem_title{
    width:30%;
}
#problem_title_author_el{
    text-overflow: ellipsis;
    overflow: hidden;
}
#problem_difficulty{
    width:10%;
}
#problem_acratio{
    width:10%;
}
#problem_author{
    width:20%;
}


/*problem.manage*/
.problem_manage_table{
    table-layout: fixed;
    overflow: hidden;
}

#problem_manage_title{
    width:15%;
}
#problem_manage_title_el{
    text-overflow: ellipsis;
    overflow: hidden;
}