.status_table{
    margin-top:5px;
    table-layout: fixed;
    overflow: hidden;
}
.status_table_row{
    background-color: #eeffcc;
}
.status_table_row:nth-of-type(odd){
    background-color: #eeffbb!important;
}
.status_table_row:nth-of-type(odd):hover{
    background-color: #577492!important;
}

#status_run_id{
    width:8%;
}
#status_submit_time{
    width:13%;
}
#status_user_id{
    width:8%;
}
#status_username{
    width:10%;
}
#status_username_title_el{
    text-overflow: ellipsis;
    overflow: hidden;
}
#status_problem_title{
    width:10%;
}
#status_result{
    width:16%;
}
#status_language{
    width:6%;
}
#status_exec_mem{
    width:7%;
}
#status_exec_time{
    width:7%;
}
#status_view_code{
    width:9%;
}
#status_rejudge{
    width: 9%;
}
#status_rejudge_btn{
    padding-top: 1px;
    height: 25px;
    margin:0 auto;
}
#status_list_sim_a {
    font-size: 13px;
}
/*status.sim*/
.status_sim_pnl {
    width:20%;
    float: left;
    margin-left: 5%;
    font-size: 16px;
    border-color: #00b8d4;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
}
#status_sim_rpnl {
    margin-left: 26%;
}
#compare{
    background-color: #00b8d4;
    margin-left: 5%;
}