.status_table{
    margin-top:5px;
    table-layout: fixed;
    overflow: hidden;
}
.status_table_row{
    cursor: pointer;
    background-color: #eeffcc;
}
.status_table_row:nth-of-type(odd){
    background-color: #eeffbb!important;
}
.status_table_row:nth-of-type(odd):hover{
    background-color: #ffffbb!important;
}
.status_table_row:nth-of-type(odd):active{
    background-color: #66afe9!important;
}

#status_run_id{
    width:10%;
}
#status_submit_time{
    width:15%;
}
#status_user_id{
    width:10%;
}
#status_username{
    width:10%;
}
#status_username_title_el{
    text-overflow: ellipsis;
    overflow: hidden;
}
#status_problem_title{
    width:10%;
}
#status_result{
    width:13%;
}
#status_language{
    width:6%;
}
#status_exec_mem{
    width:7%;
}
#status_exec_time{
    width:7%;
}
#status_view_code{
    width:9%;
}
#status_rejudge{
    width: 9%;
}
#status_rejudge_btn{
    padding-top: 1px;
    height: 25px;
    margin:0 auto;
}
